<div class="descr-section">
  <div class="descr-section__inner inner">
    <div class="descr-section__top">
      <p>
        На фасаді <span class="text-green">Прилад.Новація</span> розміщено
        <span class="text-green">30</span> іменних табличок.
        <span class="text-green">6</span> з них – це міжнародні донорські
        організації, які вклались в проект, але не беруть участі в подальшому
        управлінні та їхні кошти не підлягають поверненню, ще
        <span class="text-green">24</span> – це великі інвестори, які й є
        учасниками <span class="text-green">Board24</span>.
      </p>
    </div>
    <div class="descr-section__image">
      <img src="./img/main.jpg" alt="Novatsia" />
    </div>
    <div class="descr-section__bottom">
      <div class="descr-section__bottom-block">
        <p>
          Board24 – це клуб етичного бізнесу, який органічно сформувався з числа
          крупних інвесторів Прилад.Новація . В нього входять люди і компанії,
          які першими повірили в проект та інвестували в нього від $100 тис. до
          $1 млн кожен. Разом члени Board24 контролюють понад 50% власності
          проекту. Тому вони мають безпосередній вплив на прийняття стратегічних
          рішень в проекті та його подальший розвиток.
        </p>
        <p>
          Всі члени Board24 – це люди і компанії з високою міжнародною діловою
          репутацією. Тому таке об'єднання створює для учасників додаткові
          можливості від взаємодії всередині.
        </p>
      </div>
      <div class="descr-section__bottom-block">
        <p>
          Ми посилюємо один одного завдяки нашим досвідам, практикам, міжнародним
          стандартам та спільним цінностям. В подальшому це дозволить
          реалізовувати інші амбітні проекти разом.
        </p>
        <p>
          Не менш важливий фактор, який об’єднує учасників Board24 – це
          амбітність. Через Прилад.Новація ми хочемо створити модель перезапуску
          міста, регіону та щонайменше – країни.
        </p>
        <p>Board24 вже сформований на 80%. Залишилося кілька вільних слотів.</p>
      </div>
    </div>
  </div>
</div>
