{# Description no longer than 155 characters #}
<meta name="description" content="{{ description }}">
<!-- Twitter Card data -->
<meta name="twitter:card" content="{{ twitter_summary }}">
<meta name="twitter:site" content="{{ twitter_publisher }}">
<meta name="twitter:title" content="{{ twitter_title }}">
<meta name="twitter:description" content="{{ twitter_description }}">
<meta name="twitter:creator" content="{{ twitter_author }}">
{# Twitter Summary card images must be at least 120x120px #}
<meta name="twitter:image" content="{{ twitter_image }}">

<!-- Open Graph data -->
<meta property="og:title" content="{{ og_title }}">
<meta property="og:type" content="article">
<meta property="og:url" content="{{ og_url }}">
<meta property="og:image" content="{{ og_image }}">
<meta property="og:description" content="{{ og_description }}">
<meta property="og:site_name" content="{{ og_sitename }}">
<meta property="fb:admins" content="{{ fb_admins }}">

<!-- <div class="slider__video-wrapper">
  <video
    class="slider__video js-video"
    loop="true"
    muted
    poster="img/main.png"
  >
    <source src=".img/video-{{ item }}.mp4" type="video/mp4" />
    Your browser doesn't support HTML5 video tag.
  </video>
  <div class="package-offer__video-buttons">
    <button class="video-play js-video-play" type="button">
      Play
      <span class="video-hint">играть</span>
    </button>
    <button class="video-pause js-video-pause" type="button">
      Pause
      <span class="video-hint">пауза</span>
    </button>
  </div>
</div> -->