.about-section
  margin-bottom: 68px
  +sm 
    margin-bottom: 0
  &__title
    margin-bottom: 86px
    text-align: center
    +sm 
      margin-bottom: 32px
    h2 
      font-size: 50px
      line-height: 1.1
      +sm 
        font-size: 22px
  &__slider
    // margin-bottom: 200px