.footer
  padding: 24px 0
  background-color: $lightBG
  font-size: 14px
  font-weight: 500
  +sm 
    padding-top: 30px
  &__inner
    display: flex
    align-items: center
    justify-content: space-between
    +sm 
      flex-direction: column
  &__left
    font-weight: 600
    font-size: 14px
    line-height: 18px
    +sm
      margin-bottom: 56px
      text-align: center
  &__right
    position: relative
    +sm 
      padding-top: 30px
      &:after
        content: ''
        position: absolute
        top: 0
        left: 50%
        transform: translateX(-50%)
        height: 2px
        width: 44px
        background-color: #202848

.social-menu
  &__list
    display: flex
  &__item
    padding: 0 5px
  &__link
    display: inline-block
    height: 30px
    border-radius: 50%
    transition: background-color $tr
    color: #202848
    +sm 
      height: 28px
    +hover
      svg
        fill: $green
        color: $green
    svg 
      height: 100%
      fill: #202848
      stroke: none
      stroke-width: 2
      transition: fill $tr