.board-section
  background-color: $lightBG
  padding: 55px 0

.board-grid
  display: flex
  flex-wrap: wrap
  &__item
    +fsize(12.5%)
    padding-bottom: 12.5%
    position: relative
    box-shadow: 0 0 0 1px #DEDEDE inset
    +md 
      +fsize(25%)
      padding-bottom: 25%
    +sm 
      +fsize(33.333%)
      padding-bottom: 33.333%
    .card
      +coverdiv
    &--first
      +fsize(25%)
      box-shadow: none
      +md 
        +fsize(100%)
      +sm
        +fsize(100%)
      .board-title
        position: absolute
        top: 50%
        left: 0
        transform: translateY(-50%)
    &--last
      .add-btn
        +vcenter
      +sm 
        order: 30
      +hover
        .add-btn
          transform: translate(-50%, -50%) scale(1.2)

.card
  +cover
  display: flex
  flex-direction: column
  justify-content: flex-end
  background-color: rgba(#C4C4C4, 0.5)
  background-blend-mode: multiply
  &__content
    background-color: $green
    padding: 10px
    color: $white
    font-weight: 400
  &__name
    font-size: 14px
  &__summ
    font-size: 9px

@for $i from 1 through 32 
  +sm
    .sm-order-#{$i}
      order: $i

.sm-dn 
  +sm 
    display: none