.icon-arrow-left {
  width: 0.58em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-right {
  width: 0.58em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
